<nav class="navbar">
  <div class="navbar-left">
    <strong>KudoKart 🎉</strong>
  </div>

  <div class="navbar-right">
    <div class="profile-menu">
      <button class="profile-button">
        👤 <%= current_user.username %>
      </button>

      <div class="dropdown">
        <%= link_to "My Kudos", dashboard_path %>
        <%= link_to "Settings", "#" %>
        <hr>
        <%= button_to "Logout",
              logout_path,
              method: :delete,
              form: { data: { turbo_confirm: "Are you sure?" } },
              class: "logout-button" %>
      </div>
    </div>
  </div>
</nav>
