name: Rails CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: umgundi
          POSTGRES_DB: umgundi_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: umgundi
      POSTGRES_DB: umgundi_test
      PGHOST: localhost
      RAILS_ENV: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      #Needed for pg gem
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libpq-dev

      #Fix Bundler frozen/deployment mode
      - name: Disable bundler frozen mode
        run: bundle config set --local deployment false

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2.0
          bundler-cache: true

      - name: Install PostgreSQL client
        run: sudo apt-get install -y postgresql-client

      - name: Wait for Postgres
        run: |
          export PGPASSWORD=$POSTGRES_PASSWORD
          until pg_isready -h $PGHOST -U $POSTGRES_USER; do
            echo "Waiting for Postgres..."
            sleep 1
          done

      - name: Setup Database
        run: |
          bin/rails db:prepare

      - name: Run tests
        run: bundle exec rspec
